# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Data & artifacts (CRITICAL)
uploaded_data/
data/
datasets/
*.zip
*.tar
*.tar.gz

# ML junk
wandb/
mlruns/
checkpoints/
models/

# IDE
.vscode/
.idea/

# OS
.DS_Store

