x-common-service: &common-service
  build:
    context: .
    dockerfile: app/Dockerfile
  env_file: ".env"
  depends_on:
    ollama:
      condition: service_healthy
  environment:
    - OLLAMA_HOST=http://ollama:${OLLAMA_PORT}
  restart: always
  volumes:
    - ./:/app

services:
  automlplus:
    <<: *common-service
    container_name: alfie_automlplus
    command: uv run uvicorn app.automlplus.main:app --reload --host 0.0.0.0 --port ${AUTOML_PLUS_PORT}
    ports:
      - "${AUTOML_PLUS_PORT}:${AUTOML_PLUS_PORT}"
    volumes:
      - automlplus_data:/data
      - automlplus_venv:/app/.venv

  tabular:
    <<: *common-service
    container_name: alfie_automl_tabular
    command: uv run uvicorn app.tabular_automl.main:app --reload --host 0.0.0.0 --port ${TABULAR_AUTOML_PORT}
    ports:
      - "${TABULAR_AUTOML_PORT}:${TABULAR_AUTOML_PORT}"
    volumes:
      - tabular_data:/data
      - tabular_venv:/app/.venv

  vision:
    <<: *common-service
    container_name: alfie_automl_vision
    command: uv run uvicorn app.vision_automl.main:app --reload --host 0.0.0.0 --port ${VISION_AUTOML_PORT}
    ports:
      - "${VISION_AUTOML_PORT}:${VISION_AUTOML_PORT}"
    volumes:
      - vision_data:/data
      - vision_venv:/app/.venv

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "${OLLAMA_PORT}:${OLLAMA_PORT}"


volumes:
  ollama_data:
  vision_data:
  tabular_data:
  automlplus_data:
  vision_venv:
  tabular_venv:
  automlplus_venv:

