services:
  automlplus:
    image: ${GITLAB_REGISTRY}/automl_engine:latest
    container_name: alfie_automlplus
    command: bash -lc "uv run uvicorn app.automlplus.main:app --reload --host 0.0.0.0 --port ${AUTOML_PLUS_PORT}"
    ports:
      - "${AUTOML_PLUS_PORT}:${AUTOML_PLUS_PORT}"
    env_file: ".env"
    volumes:
      - automlplus_data:/data
      - automlplus_venv:/app/.venv
    depends_on:
      - ollama
    environment:
      - OLLAMA_HOST=http://ollama:11434
    restart: always

  tabular:
    image: ${GITLAB_REGISTRY}/automl_engine:latest
    container_name: alfie_automl_tabular
    command: bash -lc "uv run uvicorn app.tabular_automl.main:app --reload --host 0.0.0.0 --port ${TABULAR_AUTOML_PORT}"
    ports:
      - "${TABULAR_AUTOML_PORT}:${TABULAR_AUTOML_PORT}"
    env_file: ".env"
    volumes:
      - tabular_data:/data
      - tabular_venv:/app/.venv
    depends_on:
      - ollama
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - "AUTODW_URL=${AUTODW_URL-http://host.docker.internal:8000}"
    extra_hosts:
      - "host.docker.internal=host-gateway"
    restart: always

  vision:
    image: ${GITLAB_REGISTRY}/automl_engine:latest
    container_name: alfie_automl_vision
    command: bash -lc "uv run uvicorn app.vision_automl.main:app --reload --host 0.0.0.0 --port ${VISION_AUTOML_PORT}"
    ports:
      - "${VISION_AUTOML_PORT}:${VISION_AUTOML_PORT}"
    env_file: ".env"
    volumes:
      - vision_data:/data
      - vision_venv:/app/.venv
    depends_on:
      - ollama
    environment:
      - OLLAMA_HOST=http://ollama:11434
    restart: always

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
      - ./entrypoint.sh:/entrypoint.sh
    entrypoint: ["/usr/bin/bash", "/entrypoint.sh"]
    pull_policy: always
    tty: true
    restart: always
    healthcheck:
      test:
        - "CMD-SHELL"
        - |
          test -f /tmp/ollama_ready && \
          bash -c '</dev/tcp/localhost/11434'  # Checks if Ollama is accepting connections
      interval: 10s
      timeout: 10s
      retries: 100
      start_period: 10s

volumes:
  ollama_data:
  vision_data:
  tabular_data:
  automlplus_data:
  vision_venv:
  tabular_venv:
  automlplus_venv:
