name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: psf/black@stable
      - uses: isort/isort-action@v1
        with:
            requirements-files: "requirements.txt requirements-test.txt"
